@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');


* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #202124;
    color: #F8F9FAFF;
}

.card {
    --bs-card-bg: #202124;
    border-color: #5c5b5b;
}


.head {
    margin: 0 1em
}

.content {
    margin: 0 3em 20em;
}

.block-main {
    margin-top: 3em;
}


.col-animate:hover .card-style{
    transform: scale(1.05);
    -webkit-box-shadow: 10px 10px 15px -5px rgba(248,249,250,0.3);
    -moz-box-shadow: 10px 10px 15px -5px rgba(248,249,250,0.3);
    box-shadow: 10px 10px 15px -5px rgba(248,249,250,0.3);
}


.card-style {
    transition: 0.5s;
    margin-top: 3em;
    width: 20vw;
}

@media screen and (max-width: 1280px){
    .card-style {
        width: 13em;
    }
}

@media screen and (max-width: 992px){
    .card-style {
        margin: 2em auto 0;
        width: 15em;
    }
}



