
.main-container {
    width: 90%;
    position: relative;
}


.container-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border-radius: 7px;
    overflow: hidden;
    border: 1px solid rgb(214, 214, 214);
    padding-bottom: 30px;
}


.main-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}


.main-image:hover {
    opacity: 80%;
    transition: 0.3s;
}


.title {
    margin: 30px;
    font-family: Lato, sans-serif;
    color: #333;
    font-size: 36px;
    line-height: 135%;
}


.description, .page-description {
    margin: 30px;
    margin-top: 0;
    text-align: justify;
    font-size: 15px;
    color: #aaa;
    line-height: 170%;
}


.page-description {
    color: black;
    margin-bottom: 15px;
}


a {
    text-decoration: none;
}


.read-more {
    text-decoration: underline;
    margin-left: 8px;
    color: #aaa;
}


.read-more:hover {
    color: #333;
    transition: 0.3s;
}


.title:hover {
    color: rgb(131, 131, 131);
    transition: 0.3s;
}


.container1 {
    display: flex;
    flex-direction: row;
    color: #aaa;
    margin: 30px;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
}


.Date, .Theme {
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
}


.Date:hover, .Theme:hover {
    color: #333;
    transition: 0.3s;
}


.vertical-hr {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    user-select: none;
}


.container-page > article {
    width: 100%;
    padding: 30px;
    padding-top: 0;
    box-sizing: border-box;
}


.id {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 10px;
    color: black;
    display: none;
}


.container-page .hide {
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 0px;
}


.page-sub-block {
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
    padding: 20px 0 20px 15px;
    border-left: 6px solid #e2e2e2;
}


.page-text {
    color: black;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify;
}


.page-header {
    color: black;
    font-family: Lato, sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 25px;
}


.full-page-hr {
    margin-left: 30px;
    width: 100px;
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #aaa;
}


.page-subtitle {
    font-family: Lato, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 25px;
}


.page-list {
    color: black;
}
